<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Update Profile Picture</title>
  <!-- CSS only -->
  <link th:insert="fragments/csslink.html">
</head>

<body>

<nav th:insert="fragments/navbar.html"></nav>

<div class="container">

  <h1>Update Profile Picture</h1>

  <hr>

  <form action="#" th:action="@{/users/update/profilePicture}" th:object="${ModelUser}" method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div>
      <input type="file" accept="image/*" th:field="*{profilePicFile}" class="form-control mb-4 col-4" placeholder="Profile Picture">
      <p class="alert alert-danger" th:if="${#fields.hasErrors('profilePicFile')}" th:errors="*{profilePicFile}">
    </div>
    <div>
      <input type="submit" class="btn btn-info col-2" value="Save">
    </div>
  </form>

  <hr>

  <a th:href="@{'/users/update/' + ${id}}" class="btn btn-secondary">Go Back</a>
</div>

<!-- JavaScript Bundle with Popper -->
<script th:insert="fragments/bootscript">

</body>

</html>